{% extends "layout.html" %}



{% block body %}
  <div class="d-flex justify-content-center align-items-center h-75 mt-2">
    <div class="container">
      <div class="container text-white p-3 d-flex" style="cursor:default">
        <table class="table text-white">
          <tr>
            <td style="font-size:25px">{{info1}}</td>
          </tr>
          <tr>
            <td>{{info2}}</td>
          </tr>
          <tr>
            <td>{{info3}}</td>
          </tr>
        </table>
        <a type="button" class="btn btn-{{color}} btn-lg mt-3" id="to-home" href="/">Nastavi</a>
      </div>
    </div>
  </div>
{% endblock %}
